table {
    width: 70%;
    margin:auto;
    margin-top: 40px;
}

.qRow {
    margin-top: 30px;
}

tr {
    padding-top: 30px;
}

.answer {
    width: 50%;
    margin:auto;
    text-align: center;
    margin-top: 40px;
}