table, #btnSet, div {
    width: 70%;
    margin:auto;
    margin-top: 40px;
    text-align: center;
}

.qRow {
    margin-top: 30px;
    font-size: 22px;
}

tr {
    padding-top: 30px;
}

.answer {
    width: 50%;
    margin:auto;
    text-align: center;
    margin-top: 40px;
}

.edgeCell {
    width: 25%;
}

button {
    margin: 5px;
}