table, #btnSet, div {
    width: 60%;
    margin:auto;
    margin-top: 40px;
    text-align: center;
}

hr {
    margin: 50px 0px;
}

#intro {
    text-align: left;
}

.qRow {
    font-size: 22px;
}

.qDataCell {
    padding-bottom: 20px;
}

.descText {
    text-align: left;
}

tr {
    padding: 15px 0px;
}

.answer {
    width: 50%;
    margin:auto;
    text-align: center;
    margin-top: 40px;
}

.edgeCell {
    width: 25%;
}

button {
    margin: 5px 5px 20px 5px;
}

#title {
    width: 100%;
    background: black;
}

h3 {
    background: yellow;
    font-size: 20px;
}




/*altering colors in bootstrap*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #FFD700;
    color: #000000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #DAA520;
}

.btn-primary:active, .btn-primary.active {
    background: #B8860B;
    box-shadow: none;
}
/*altering colors in bootstrap*/